.selectForm-container {
  position: absolute;
  top: 25vh;
  left: 4%;

  color: #e0e0e0;
  margin: 0 auto;
  width: 1000px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.select-grid {
  display: grid;
  position: relative;
  top: -5vh;

  margin-right: 1%;
  border: 1px solid #3b82f6;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  list-style: none;
  padding: 0;
}

.task-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.task-category-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #e0e0e0;
  text-align: center;
}
a {
  color: #e0e0e0;
}
.select-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b82f6;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.select-h1 {
  position: absolute;
  top: -18vh;
  left: 5vw;
  font-size: 40px;
  color: #e0e0e0;
}
