.task-gridSelect {
  position: relative;
  top: 8vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.task-gridSelect-title {
  position: absolute;
  top: 10vh;
  left: 10vw;
  grid-column: span 2;
  text-align: center;
  font-size: 40px;
}

.task-gridSelect-list {
  display: contents;
}

.task-itemGridSelect {
  background-color: #121212;
  color: #e0e0e0;
  padding: 10px;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  text-align: center;
}

.task-itemGridSelect a {
  color: #e0e0e0;
  text-decoration: none;
}

.task-itemGridSelect a:hover {
  text-decoration: underline;
}
