body {
  max-width: 1000px;
  max-height: auto;
}

.landing-container {
  position: absolute;
  height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageLogo {
  position: relative;
  top: 5vh;
  right: -80vw;
  width: 150px;
  height: 190px;
}

.todo {
  color: red;
  position: fixed;
  top: 15vh;
  left: 25vw;
  width: 60vw;
  transform: translate(-20%, -80%);
  text-align: left;
  text-indent: 2vw;
  font-size: 60px;
  font-style: italic;
}

h3 {
  position: fixed;
  top: 30vh;
  left: 12vw;
  font-size: 35px;
  background-color: #333;
  color: white;
  padding: 1.5vh 2vw;
  width: 400px;
  
  border-left: 5px solid #646cff;
  margin: 1em 0;
  border-radius: 4px;
}

h4 {
  font-size: 30px;
  position: fixed;
  top: 45vh;
  left: 21vw;
  background-color: #333;
  color: white;
  padding: 1.5vh 2vw;
  width: 500px;
  border-left: 5px solid #646cff;

  border-radius: 4px;
}
